@import '../../../../styles/variables';

.form__errors {
  position: absolute;
  bottom: 0;
  left: 0;

  p {
    margin: 0;
    color: #a43212;
    font-size: 13px;
  }

  p:not(:first-child) {
    display: none;
  }
}
