<div class="form__errors">
  <p *ngIf="control.touched && control?.hasError('required')"> This field is required </p>
  <p *ngIf="control.touched && control?.hasError('pattern')"> Pattern is't valid </p>
  <p *ngIf="control.touched && control?.hasError('minlength')"> The number of characters should be more</p>
  <p *ngIf="control.touched && control?.hasError('maxlength')"> The number of characters should be less</p>
  <p *ngIf="control?.hasError('matchPassword')"> Password don't match</p>
  <p *ngIf="control?.hasError('agelimit')"> Age should be more then 18</p>
</div>
