<header class="header pt-3 pb-3">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-6">
        <nav>
          <ul class="navigation d-flex justify-content-end">
            <li *ngIf="isLogin"><button (click)=logout() class="btn btn-link mr-2">Logout</button></li>
            <ng-container *ngIf="!isLogin">
              <li><a routerLink="/login/signIn" class="btn btn-outline-primary mr-2">Login</a></li>
              <li><a routerLink="/login/signUp" class="btn btn-primary">Sign Up</a></li>
            </ng-container>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
