<div class="input-wrapper">
  <z-input *ngIf="isEdit"
           [control]="control"
           [label]="label"
           [type]="type"
           [id]="id" >
  </z-input>
  <ng-container  *ngIf="!isEdit">
    <p class="label">{{ label }}</p>
    <p class="value">
      <ng-container *ngIf="control.value !== ''">
        {{ control.value }}
      </ng-container>
      <ng-container *ngIf="control.value === '' || control.value === null">...</ng-container>
    </p>
  </ng-container>
</div>
