<md-tab-group>
    <md-tab label="New tags">
        <md-input-container class="full-width col-12 mt-3">
            <input mdInput placeholder="Enter tag" />
        </md-input-container>
        <button md-raised-button>Add</button>
        <md-chip-list>
            <md-chip>Sport</md-chip>
            <md-chip>IT</md-chip>
            <md-chip color="primary" selected="true">Nature</md-chip>
        </md-chip-list>
    </md-tab>
    <md-tab label="New category">
        dsas
    </md-tab>
</md-tab-group>
