<div class="form-group">
  <label [for]="id" *ngIf="label">{{ label }}</label>

  <ng-container *ngIf="!isTextarea">
    <input [type]="type"
           class="form-control"
           [id]="id"
           [formControl]="control"
           [placeholder]="placeholder" />
  </ng-container>

  <ng-container *ngIf="isTextarea">
    <textarea class="form-control"
              rows="3"
              [id]="id"
              [placeholder]="placeholder"
              [formControl]="control" >
    </textarea>
  </ng-container>

  <buy-error [control]="control"></buy-error>
</div>
