<div class="note" draggable="true">
    <div class="note__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem beatae, earum explicabo neque nisi perspiciatis.
    </div>
    <div class="note__date">12.23.1222</div>
    <div class="note__detail-info">
        <ul class="note__tags">
            <li>d</li>
        </ul>
        <ul class="note__categories">
            <li>d</li>
        </ul>
    </div>
</div>