.note {
  position: relative;
  padding: 15px 15px 30px;
  background: #F4E3C9;
  border-radius: 2px;
  box-shadow: -7px 8px 20px 0px #b8c1c5;

  &__date {
    color: silver;
    font-size: 13px;
    position: absolute;
    bottom: 5px;
    right: 15px;
  }

  &__text {
    font-size: 14px;
  }

  &__detail-info {
    position: absolute;
    z-index: -1;
    background: rgba(#fff, 0.8);
    width: 100%;
    height: 100%;
    top: 0; left: 0;
    padding: 15px;
  }
}

//#B5DCE1 #D7E0B1 #D6CDC8 #CFDAF0 #F4EFEC #F4E0E9 #F4D9D0 #F4E3C9