<form class="addNote row" [formGroup]="addNoteForm" (submit)="submit(addNoteForm.value)">
    <md-input-container class="full-width col-12">
        <textarea mdInput placeholder="Note text"> </textarea>
    </md-input-container>
    <div class="col-6">
        <md-select placeholder="Choose tags">
            <md-option>dfssfddfs</md-option>
        </md-select>
    </div>
    <div class="col-6">
        <md-select placeholder="Choose color">
            <md-option *ngFor="let food of foods" [value]="food.value"> {{ food.viewValue }}</md-option>
        </md-select>
    </div>
    <div class="col-12">
        <md-chip-list>
            <md-chip>Papadum</md-chip>
            <md-chip>Naan</md-chip>
            <md-chip>Dal</md-chip>
        </md-chip-list>
    </div>
    <div class="col-6">
        <md-select placeholder="Choose category">
            <md-option>Food</md-option>
        </md-select>
    </div>
    <div class="col-12">
        <md-chip-list>
            <md-chip>Sport</md-chip>
            <md-chip>IT</md-chip>
            <md-chip>Nature</md-chip>
        </md-chip-list>
    </div>
    <div class="d-flex justify-content-end col-12">
        <button md-fab [md-dialog-close]="true"><md-icon>check</md-icon></button>
    </div>
</form>

