@import '../../../../styles/variables.scss';

.footer {
  background: $main-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;

  &__text {
    padding: 12px;
    font-size: 16px;
    color: white;
    text-align: center;
  }
}
