<div>
  <label [for]="id" class="custom-control custom-checkbox">

    <span class="custom-control-indicator"></span>
    <span class="custom-control-description">{{ label }}</span>
  </label>
</div>
<input
       [type]="type"
       [id]="id"
       [formControl]="control"
       (change)="even($event)" />
