<nt-add-note-btn></nt-add-note-btn>

<section class="notes">
    <div class="container">
        <nt-notes-list></nt-notes-list>
    </div>
</section>

<nt-add-options-btn></nt-add-options-btn>

<nt-footer></nt-footer>